@import url("/css/normalize.css");
 * {
 	margin: 0;
 	padding: 0;
 }
html, body {
	height: 100%;
	font-family: Arial;
}

body {
	background: #ffffff;
}

.b-wrapper {
	margin: 0 32px;
	position: relative;
	min-height: 100%;
}
	
.b-main {
	padding-bottom: 60px;
	color: #666;
}
.b-header {
	height: 125px;
	text-align: justify;
}
.b-header:after {
	content: '';
	display: inline-block;
	width: 100%;
}

.b-header-logo {
	padding: 23px 0 25px 20px;
	display: block;
}

.b-header-nav, .b-footer {
	border: 1px solid #cacaca;
	background: #afafaf;
}

.b-header-nav {
 	height: 41px;
 	line-height: 41px;
 	text-align: justify;
 	padding-right: 40px;
 	padding-left: 40px;
}

.b-header-nav__item{
	display: inline-block;
	font-size: 18px;
	font-weight: 600;
	text-decoration: none;
	color: #fff;
}

.b-header-nav__item_active {
	text-decoration: underline;
}

.b-main {
	padding: 20px;
}

.b-article {
	margin-right: 145px;
}

.b-article-header {
	font-size: 20px;
}

.b-article__item{
	margin-top: 20px;
}

.b-footer-fix {
	height: 60px;
}

.b-footer {
	position: absolute;
	left: 0;
	bottom: 0;
	height: 60px;
	line-height: 60px;
	width: 100%; 
}

.b-copyright {
	font-size: 12px;
	color: #fff;
	margin-left: 20px;
}